<mat-sidenav-container fullscreen>
    <mat-sidenav #start>
        <mat-nav-list>
            <a mat-list-item routerLink="/wallet" (click)="start.toggle()">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>Wallet</span>
        </a>
        <a mat-list-item routerLink="/services" (click)="start.toggle()">
            <mat-icon>electrical_services</mat-icon>
            <span>Services</span>
        </a>
        <a mat-list-item routerLink="/settings" (click)="start.toggle()">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </a>
        <a mat-list-item routerLink="/about" (click)="start.toggle()">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>Info</span>
        </a>
        <a mat-list-item routerLink="/logs" (click)="start.toggle()">
            <mat-icon>textsms</mat-icon>
            <span>Logs</span>
        </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button color="accent" (click)="start.open()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
